AcuantMobileSDK filter=lfs diff=lfs merge=lfs -text
*/MicroBlink filter=lfs diff=lfs merge=lfs -text
AcuantHybridSampleSDK/platforms/ios/AcuantHybridSampleSDK/Plugins/com.acuant.plugin.AcuantMobileSDK/AcuantMobileSDK.framework/Resources/Frameworks/MicroBlink.framework/MicroBlink filter=lfs diff=lfs merge=lfs -text
